.widget {
    background: $light-blue;
}
.widget-message {
    border-bottom:1px solid lighten($light-blue, 10%);
    color: $of-white;
    margin: 0;
    padding: $l-size;
    text-align: center;

}
.widget-header {
    background-color: $blue;
    color: $of-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}
.widget-header__title {
    margin: 0;  
}